html {
	height: 100%;
	min-height: 100%;
	bottom: 0;
	
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	background: white;
	display: block;
	font-family: Helvetica;
}

a.link:link {
    color: black;
}

a.link:visited {
    color: black;
}

a.link:hover {
    text-shadow: -0.1em 0 red, 0.1em 0 cyan;
}

.icon_link {
	text-decoration: none;
}

/*.cyan {
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.7);
}*/

.container {
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	width: 100%;
}

.anaglyph {
	text-shadow: -0.1em 0 red, 0.1em 0 cyan;
	/*font-family: Helvetica;*/
}

#nav-bar {
	background: black;
	width: 70px;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: 3;
	min-height: 500px;
	left: 0px;
	text-align: center;
	position: fixed;
}

#home {
	position: relative;
	left: 60px;
	width: 100%;
	height: 400px;
	padding: 50px;
	/*background-color: lightgray;*/
	top: 0px;
	line-height: 1.4;
}

#home-picture {
	height:275px;
	right: 25%;
	top: 150px;
	position: absolute;
	border-radius: 50%;
}

#home-text {
	top: 200px;
	left: 100px;
	position: absolute;
}

#about {
	position: relative;
	left: 60px;
	width: 80%;
	height: 600px;
	padding: 50px;
	/*background-color: lightgray;*/
	top: 0px;
	line-height: 1.4;
}

#about-text {
	top: 0px;
	left: 100px;
	position: absolute;
	line-height: 1.4;
	top: 200px;
}

#skills {
	position: relative;
	left: 60px;
	width: 80%;
	height: 600px;
	padding: 50px;
	/*background-color: lightgray;*/
	top: 0px;
	line-height: 1.4;
}

#work {
	position: relative;
	left: 60px;
	width: 80%;
	height: 600px;
	padding: 50px;
	/*background-color: lightgray;*/
	top: 0px;
	line-height: 1.4;
}

#skills-text {
	top: 0px;
	left: 100px;
	position: absolute;
	line-height: 1.4;
	top: 200px;
	width: 80%;
}

#work-text {
	top: 0px;
	left: 100px;
	position: absolute;
	line-height: 1.4;
	top: 200px;
}

@media only screen and (max-width: 900px) {
	#home-picture {
		right: 20%;
		height: 200px;
		top: 190px;
	}
	#home-text {
		top: 200px;
		left: 50px;
		position: absolute;
	}
}

@media only screen and (max-width: 600px) {
	#nav-bar {
		width: 100px;
	}
	.nav-icon {
		font-size: 50px!important;
		padding: 8px 0px 8px 0px!important;
		text-align: center!important;


	}
	.nav-text {
		padding-top: 20px!important;
		font-size: 20px!important;
	}
	#home-text {
		top: 500px;
	}
}


.nav-icon {
	padding: 2px 0px 2px 0px;
	color: white;
	font-size: 30px;
	width: 70px;
	height: 40px;
	text-align: center;
}

.nav-text {
	/*padding: 12px 0px 12px 0px;*/
	/*padding: 10px 0px 10px 0px;*/
	color: white;
	font-size: 12px;
	font-family: Helvetica;
	top: -10px;
	position: relative;
	height: 5px;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

#JS-icon {
	color: white;
	font-size: 35px;
	font-family: Helvetica;
	top: 0;
	margin-top: 10px;
	text-align: center;
}

.nav-icon-sm {
	width: 20px;
	height: 20px;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	color: white;
	text-align: center;
}

/*#home {
	position: absolute;
	left: 100px;
	width: 100%
}
*/


#links {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 170px;
	display: block;
}

#page-nav {
    position: absolute;
    height: 280px;
    top: 50%;
    margin-top: -195px;
    background-clip: padding-box;
}

#languages{ float: left; width: 33%; }
#software{ float: right; width: 33%; }
#frameworks{ display: inline-block; width: 33%; }